
.imagen-header {
    height: 100px;
    width: 100px;
}

.imagen-main {
    width: 100%;  
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}


.headerdedico {
    background-color: aqua;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.box:hover .boxuno{
    height: 200;
    width: 200;
    transform: translateX(1100px);
}

.boxuno{
transition: all 3s;
}




*{
    margin: 0;
    padding: 0;
}

em {
    background-color: rgb(26, 219, 219);
}

.cabecera__lista {
    background-color: darkcyan;
    font-family: 'Dancing Script', cursive;
    width: 100%;
    top: 0px;
    position: sticky;
}
a {
    color: black;    
}

header nav ul li {
    list-style-type: none;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.lista {
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}


.section2{
    height: 100px;
    width: 100px;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 5px;
}

.grid-container2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.grid-item2 {
    border: solid black;
}




/*Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: darkcyan;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}